

<div id="contactdiv">
  <h3>My name is Venus</h3>
    <br>
     <img id="venus" src="images/venus.jpeg">
    <p>I am a stylist,image consultant, and fashion stylist. For more than 10 years I have worked in the fashion world. From childhood I was passionate about creating beautiful things with my own hands and making everyday life beautiful and interesting. I have always know that the most important thing in my life would be the pursuit of beauty and aesthetics. Immediately upon finishing school, I entered cosmetology courses. A field that has produced many job opportunities not only as hair-dresser but as a top stylist also known as a master stylist. A top stylist is a stylist who applies make-up and cuts hair to create a unified image. In 2006 I went to a exclusive training course taught by one of the most loved master stylists in my country thanks to this training I developed a passion for the art of style!</p>
    <br>
    <p>In 2007 I was invited to participate in the contest “Fasion Tv Award 2007” as a stylist responsible for creating a complete look and I took the top spot. This of course put me in the way of the next step in my career. The next year I studied clothing design and learned to produce my own clothes. It helped me to understand more fully the aspects of fabric and the cut of a garment.  I also learned invaluable lessons regarding the principles and criteria of garments. A skill I can and have used freely use to fashion custom garments to flatter my clients to this day.</p>
    <br>
    <p>In 2011 I decided to give the fashion industry first place in my life. Specialized training for professional stylist and image consultant gave me even more knowledge of the industry. It also allowed me to become acquainted with many fashion professionals who made use of my skills some of which included renowned personalities who became my long-term clients.</p>
    <br>
    <p>Another shining moment in this period was my education in the international school of design and fashion in London “Central Saint Martins” where my focus was “Fashion-styling”. I never expected that I would be accepted to the course or that I would then be invited to the show “Backstage”. After which,  I began work in the capacity of fashion-stylist for the television show “Fashion “ , for magazines and PR campaigns for TV shows and movies. A little later I also decided to create an exclusive line of jewelry and accessories as no small part of my services.  As a result I was able to join the ranks of bold accessory designers.</p>
    <br>
    <p>These days I take great joy in working and talking with people not just in the fashion world, but regular people. To help them feel beautiful and find a style that suits them no matter their size. This is why I continue to work as a personal stylist and image consultant while at the same time not excluding work in the fashion industry.</p>
    <br>
    <p>With the help of this website dedicated to style and beauty, I hope to make my services more available to New Yorkers. And to provide a place to find exclusive jewelry and accessories either for you or for gifts.</p>
    <br>
    <p>And so you can safely say that you are trusting your style to a professional and that our company won’t let you down!</p>
    <br>
    <p>Love, Venus!</p>
    <br>
    <p>CONTACT INFO:</p>
    <p> Phone: 1 347 458 6929</p>
    <p> E-mail: info@mergingstyles.com</p>

</div>
</body>
</html>
