
<div id="homediv">
	<img id="logo" src="images/logo.png">
	<div id="stylelist">
		<ul>
			<li>Fashion</li>
			<li>Style</li>
			<li>Beauty</li>
			<li>Botique</li>
		</ul>
	</div>
	<div id="imagegallery">
	 	<img class="rotatingimage" src="images/colordress.jpeg">
	 	<img class="rotatingimage" src="images/blackdress.jpeg">
	 	<img class="rotatingimage" src="images/dress.jpeg">
	 	<img class="rotatingimage" src="images/golddress.jpeg">
	 	<img class="rotatingimage" src="images/flowerdress.jpeg">
	</div>
	<div id="blackbox1">
	</div>
	<script type="text/javascript" src="public/script.js"></script>
</div>