<!DOCTYPE html>	
<html>
	<head>
		<meta charset="utf-8">
		<title>Shop</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script type="text/javascript" src="cookies.js"></script>
		<script type="text/javascript" src="javascript/shop.js"></script>
	</head>
	<body>
			<div>
				<h1>Shop</h1>
			</div>
			<p class="erven">
				<span id="simpleCart_total">Cart:<span id="simpleCart_quantity">items</span>
				</span>
				<br />
				<a href="cart" id="price" class="simpleCart_empty">empty cart</a>
				<br />
			</p>
			<div id="main">
			<article>
				<p id="p1">EMROIDERED BLACK CREPE MIDI DRESS</p>
				<div id="box1">
					<img id="one" src="images/cld0013_3.jpg"/>
					<img id="two" src="images/cld0013_2.jpg"/>
					<img id="three" src="images/cld0013.jpg"/>
				</div>
				<div id="dof1">
				<span class="ip1">$180.00</span>
				<select class="item_Size">
						<option value="Small">Small</option>
						<option value="Medium">Medium</option>
						<option value="Large">Large</option>	
				</select>	
				<input type="text" class="item_quantity" value="1" />
				<button id="EMROIDERED BLACK CREPE MIDI DRESS-CLD0013-180" class="addCart">Add to Cart</button>
				<br />
				<button id="textone">Description</button>
				<p>
					<ul id="ulone">
						<li>Solid crepe</li>
						<li>Fully lined</li>
						<li>Angel sleeves</li>
						<li>Embellished detailing</li>
						<li>Jewel neckline</li>
						<li>Zip back closure</li>
						<li>Regular fit – true to size</li>
						<li>Dry clean</li>
						<li>80% Polyester, 20% Viscose</li>
						<li>Our mannequin is 180 cm/5.11” tall</li>
					</ul>
				</p>
				</div>
			</article>
			<article>
				<p id="p2">LITTE BLACK CREPE DRESS</p>
				<div id="box2">
					<img id="four" src="images/cld0014_3.jpg"/>
					<img id="five" src="images/cld0014_2.jpg"/>
					<img id="six" src="images/cld0014.jpg"/>
				</div>
				<div id="dof2">
				<span class="ip1">$190.00</span>
				<select class="item_Size">
						<option value="Small">Small</option>
						<option value="Medium">Medium</option>
						<option value="Large">Large</option>	
				</select>	
				<input type="text" class="item_quantity" value="1" />
				<button id="LITTE BLACK CREPE DRESS-CLD0014-190" class="addCart">Add to Cart</button>
				<br />
				<button id="texttwo">Description</button>
					<p>
						<ul id="ultwo">
							<li>Solid crepe dress</li>
							<li>fully lined</li>
							<li>Cutout back</li>
							<li>Zip back closure</li>
							<li>Hip pockets</li>
							<li>Relaxed fit</li>
							<li>Dry clean only</li>
							<li>70% Polyester 20% Viscose 10% Wool</li>
							<li>Our mannequin 180cm/5.11″ tall</li>
						</ul>
					</p>
					</div>
				</article>
				<article>
				<p id="p3">WHITE FLORAL EMBROIDERED DRESS</p>
				<div id="box3">
					<img id="seven" src="images/cld0016_3.jpg"/>
					<img id="eight" src="images/cld0016_2.jpg"/>
					<img id="nine" src="images/cld0016.jpg"/>
				</div>
				<div id="dof3">
				<span class="ip1">$185.00</span>
				<select class="item_Size">
						<option value="Small">Small</option>
						<option value="Medium">Medium</option>
						<option value="Large">Large</option>	
				</select>	
			<input type="text" class="item_quantity" value="1" />
			<button id="WHITE FLORAL EMBROIDERED DRESS-CLD0016-185" class="addCart">Add to Cart</button>
			<br />
			<button id="textthree">Description</button>
			<p>
					<ul id="ulthree">
						<li>Textured, floral embroidery on mesh</li>
						<li>Woolen crepe</li>
						<li>Fully lined</li>
						<li>Boat neckline</li>
						<li>Fitted waist seam</li>
						<li>Detachable waist band</li>
						<li>V-cut back</li>
						<li>Zip back closure</li>
						<li>Slim fit – cut closely to the body</li>
						<li>Dry clean</li>
						<li>64% Polyester, 33% wool, 3% Elastane</li>
						<li>Our  mannequine 180cm/5.11″ tall</li>
					</ul>
				</p>
				</div>
			</article>
			<article>
			<p id="p4">FAIRY WHITE DRESS</p>
			<div id="box4">
				<img id="ten" src="images/cld0017_3.jpg"/>
				<img id="eleven" src="images/cld0017_2.jpg"/>
				<img id="twelve" src="images/cld0017.jpg"/>
			</div>
			<div id="dof4">
			<span class="ip1">$170.00</span>
			<select class="item_Size">
					<option value="Small">Small</option>
					<option value="Medium">Medium</option>
					<option value="Large">Large</option>
				</select>
				<input type="text" class="item_quantity" value="1" />
				<button id="FAIRY WHITE DRESS-CLD0017-170" class="addCart">Add to Cart</button>
				<br />	
				<button id="textfour">Description</button>
				<p>
					<ul id="ulfour">
						<li>Embroidered lace</li>
						<li>Jewel neckline</li>
						<li>Angel sleeves</li>
						<li>Relaxed fit</li>
						<li>A-line dress</li>
						<li>fully lined</li>
						<li>Regular fit – true to size</li>
						<li>Dry clean</li>
						<li>80% Polyester, 17% cotton, 3% Elastin</li>
						<li>Our mannequin 180cm/5,11″ tall; Model size US4, 162cm/5,4”Tall</li>
					</ul>
				</p>
				</div>
			</article>
			<article>
			<p id="p5">A-LINE SEQUIN PARTY RAINBOW DRESS</p>
			<div id="box5">
				<img id="thirteen" src="images/cld0018_3.jpg"/>
				<img id="fourteen" src="images/cld0018_2.jpg"/>
				<img id="fifteen" src="images/cld0018.jpg"/>
			</div>
			<div id="dof5">
			<span class="ip1">$165.00</span>
			<select class="item_Size">
					<option value="Small">Small</option>
					<option value="Medium">Medium</option>
					<option value="Large">Large</option>	
				</select>	
				<input type="text" class="item_quantity" value="1" />
				<button id="A LINE SEQUIN PARTY RAINBOW DRESS-CLD0018-165" class="addCart">Add to Cart</button>
				<br />	
				<button id="textfive">Description</button>
				<p>
					<ul id="ulfive">
						<li>Heavy sequinned fabric</li>
						<li>fully lined</li>
						<li>Boat neckline</li>
						<li>Zip back fastening</li>
						<li>A-line</li>
						<li>Empire waist seam</li>
						<li>Regular fit – true to size</li>
						<li>Machine wash/dry clean</li>
						<li>100% Polyester</li>
						<li>Our model wears a US 6 size and is 5’4” tall. Mannequin 180cm/5.11″ Tall</li>
					</ul>
				</p>
				</div>
			</article>
			<article>
			<p id="p6">FUCHSIA LACE DRESS</p>
			<div id="box6">
				<img id="sixteen" src="images/cld0021_3.jpg"/>
				<img id="seventeen" src="images/cld0021_2.jpg"/>
				<img id="eighteen" src="images/cld0021.jpg"/>
			</div>
			<div id="dof6">
			<span class="ip1">$150.00</span>
			<select class="item_Size">
					<option value="Small">Small</option>
					<option value="Medium">Medium</option>
					<option value="Large">Large</option>	
			</select>	
			<input type="text" class="item_quantity" value="1" />
			<button id="FUCHSIA LACE DRESS-CLD0021-150" class="addCart">Add to Cart</button>
			<br />	
			<button id="textsix">Description</button>
				<p>
					<ul id="ulsix">
					<li>This unique, romantic dress is crafted in lace and accented with colorful floral appliqués.</li>
				 	<li>The draped the top has a front hook and eye closure.</li>
				 	<li>The skirt has back invisible zipper.</li>
				 	<li>V neckline.</li>
					<li>Fabric: Lace.</li>
					<li>Shell: 70% rayon/30% cotton.</li>
					<li>Lining: 93% poliester/7% elastane.</li>
					<li>Dry clean.</li>
					<li>Made in the USA.</li>
					</ul>
				</p>
				</div>
				<br />
			</article>
			<p id="p7">BAROGUE STYLISH HANDBAG</p>
			<div id="box7">
				<img id="nineteen" src="images/flb001_3.jpg"/>
				<img id="twenty" src="images/flb001_2.jpg"/>
				<img id="twentyone" src="images/flb001.jpg"/>
			</div>
			<div id="dof7">
			<span class="ip1">$120.00</span>
			<input type="text" class="item_quantity" value="1" />
			<button id="BAROGUE STYLISH HANDBAG-FLB001-120" class="addCart">Add to Cart</button>
				<br />	
			<button id="textseven">Description</button>
			<p>
					<ul id="ulseven">
						<li>Front cotton decorative panel</li>
						<li>Franch corded gold lace</li>
						<li>Concealed magnetic clasps</li>
						<li>Fully lined</li>
						<li>Internal zip pocket</li>
						<li>Longline gold metal chain strap</li>
						<li>Wipe with a damp cloth</li>
						<li>80% Polyurethane, 20% cotton</li>
						<li>H: 9″ W: 10″ D: 3”</li>
						<li>Strap length: 41″</li>
						<li>Free shipping and returns within NYC</li>
					</ul>
			</p>
			</div>
			<p id="p8">RED HEART HANDBAG (SQUARE)</p>
			<div id="box8">
					<img id="twentytwo" src="images/flb004_3.jpg"/>
					<img id="twentythree" src="images/flb004_2.jpg"/>
					<img id="twentyfour" src="images/flb004.jpg"/>
			</div>
			<div id="dof8">
			<span class="ip1">$110.00</span>
			<input type="text" class="item_quantity" value="1" />
			<button id="RED HEART HANDBAG (SQUARE)-FLB004-110" class="addCart">Add to Cart</button>
			<br />	
			<button id="texteight">Description</button>
			<p>
					<ul id="uleight">
						<li>Front lace and crystal embroidery</li>
						<li>Concealed magnetic clasps</li>
						<li>Fully lined</li>
						<li>Internal zip pocket</li>
						<li>Wipe with a damp cloth</li>
						<li>100% Polyurethane</li>
						<li>H: 7″ W: 11 1.2″ D: 3”</li>
						<li>Strap length: 19″</li>
						<li>Free shipping and returns worldwide.</li>
					</ul>
			</p>
			</div>
			<p id="p9">DAISY FIELD HANDBAG</p>
			<div id="box9">
				<img id="twentyfive" src="images/flb005_3.jpg"/>
				<img id="twentysix" src="images/flb005_2.jpg"/>
				<img id="twentyseven" src="images/flb005.jpg"/>
			</div>
			<div id="dof9">
			<span class="ip1">$100.00</span>
			<input type="text" class="item_quantity" value="1" />
			<button id="DAISY FIELD HANDBAG-FLB005-100" class="addCart">Add to Cart</button>
			<br />	
			<button id="textnine">Description</button>
			<p>
					<ul id="ulnine">
						<li>Front  daisy embroidery</li>
						<li>Concealed magnetic clasps</li>
						<li>Fully lined</li>
						<li>Internal zip pocket</li>
						<li>Wipe with a damp cloth</li>
						<li>100% Polyurethane</li>
						<li>H: 7″ W: 11 1/2″ D: 3”</li>
						<li>Strap length: 19″</li>
						<li>Free shipping and returns worldwide.</li>
					</ul>
			</p>
			</div>
			</div>
	</body>
	</html>